/*
 * ========================
 * CARD-ARTICLE 
 * ========================
 */
.card-article 
	max-width: 469px
	border: 1px solid #E9ECF2
	border-radius: 5px
	overflow: hidden

	&:hover
		.tag
			color: $color-secondary
			background-color: #E8F4EE

		.link
			opacity: 1

	&__banner
		height: 221px

	&__info
		padding: 20px 35px 45px

	.tag-list
		margin-bottom: 11px

	&__descr
		position: relative
		margin-top: 12px
		margin-bottom: 35px
		font-size: 18px
		line-height: 24px
		overflow: hidden

		&::after
			content: ''
			position: absolute
			bottom: -10px
			left: 0
			width: 100%
			height: 65px
			border-radius: 5px
			background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 91.38%)

	.link
		+trs()
		opacity: 0

	&--horizontal
		max-width: 869px
		min-height: 320px
		display: flex
		align-items: center

		.card-article

			&__banner
				width: 100%
				max-width: 270px
				min-height: 320px

				img 
					object-fit: cover
					height: 100%

			&__info
				padding: 40px 42px 40px 35px 

			&__descr
				margin-bottom: 21px


	+width-md

		.link
			opacity: 1

		&--horizontal

			.card-article__info
				padding: 25px 30px



	+width-sm

		&--horizontal
			flex-direction: column

			.card-article

				&__banner
					order: -1
					max-width: 100%
					height: auto
					min-height: 100px

					img 
						width: 100%

