/*
 * ========================
 * BASE 
 * ========================
 */
.banner
	position: relative
	max-width: 870px
	height: 362px
	padding: 55px 70px
	border-radius: 5px
	background: radial-gradient(104.56% 263.54% at 22.6% -4.56%, #76CFA5 0%, #389F66 51.27%)

	&__info
		max-width: 370px
	
	&__descr,
	.h2
		color: $white

	&__descr
		margin-top: 18px
		letter-spacing: -.3px
	
	&__image
		position: absolute
		bottom: 0
		right: 18px
		line-height: 0


	+width-md
		padding: 35px 30px

		&__image
			max-width: 52%
