.btn 
	position: relative
	display: inline-flex
	justify-content: center
	align-items: center
	height: 60px 
	padding: 0 50px
	border: none
	font-size: 18px
	color: $white
	overflow: hidden
	background-color: $color-primary
	+trs
	
	&:hover 
		cursor: pointer
		background-color: $white
		color: $color-primary
		
	&:active
		// background-color: $color-primary
		transform: scale(.97)

	&__icon
		width: 31px
		height: 31px
		fill: $white
		margin-right: 15px
		+trs()

	&--icon
		height: 68px
		padding: 0 30px
		font-size: 22px
		line-height: 26px
		letter-spacing: 2px
		text-transform: uppercase

		&:hover

			.btn__icon
				fill: $color-primary

	&--border
		height: 52px
		padding: 0 35px
		border: 1px solid $black
		color: $color-text
		background-color: transparent

		&:hover
			border-color: $color-primary


	&--up
		position: fixed
		top: 80%
		right: 80px
		display: none
		height: 36px
		padding: 0 22px
		background-color: $color-text
		color: $white
		font-size: 13px
		letter-spacing: 2px
		text-transform: uppercase
		z-index: 9

		&:hover
			background-color: $color-text
			color: $white
			opacity: .8



	@media (max-width: 1400px)
		&--icon
			height: 60px


	+width-md

		&--icon
			height: 52px
			padding: 0 17px
			font-size: 15px

		&--up
			right: 15px


	+width-sm

		&--border
			height: 45px
			padding: 0 25px
			font-size: 16px


	+width-xs

		&--icon
			height: 41px
			padding: 0 8px
			font-size: 14px
			letter-spacing: 1px

			.btn__icon
				width: 20px
				height: 20px
