.btn 
	position: relative
	display: inline-flex
	justify-content: center
	align-items: center
	height: 42px 
	padding: 0 35px
	border: none
	border-radius: 3px
	font-size: 16px
	font-weight: 500
	color: $white
	overflow: hidden
	background-color: $color-primary-1
	+trs
	
	&:hover 
		cursor: pointer
		opacity: .8
		
	&:active
		transform: scale(.97)

	&--second
		background-color: #EDF1F4
		color: $color-text-1


	+width-sm
		height: 35px
		padding: 0 25px
		font-size: 14px