/*
 * ========================
 * ACCOUNT
 * ========================
 */
.account 
	padding-top: 24px
	
	&__wrapper
		display: flex
		align-items: flex-start

	&__sidebar
		width: 100%
		max-width: 269px
		margin-right: 28px
	
	&__content
		width: 100%
		max-width: calc(100% - 297px)

	&__title
		margin-bottom: 30px


	+width-sm
		&__wrapper
			flex-direction: column
