/*
 * ========================
 * ARTICLES-PAGE
 * ========================
 */
.articles-page 
	
	&__wrapper
		display: flex
		align-items: flex-start
		padding-top: 90px
	
	&__nav
	
		&-item
			padding: 19px 0 19px 39px
			border-top: 1px solid #DBE1E7
	
		&-link
			font: 700 18px/26px $font-main
			+trs()

			&:not(.active):hover
				color: $color-secondary

			&.active
				color: $color-text--dark
	
	&__content

		.card-article
			margin-bottom: 43px
	
	@media screen and (min-width: 992px)
		.similar
			width: 100%
			max-width: 270px
			margin-top: 0
			margin-left: 30px

			&__list
				flex-direction: column
				padding-top: 0
				border-top: none

			&__item
				width: 100%

				&:not(:last-child)
					margin-bottom: 38px

				&:nth-child(1) .similar__card
					background-image: url('../img/similar-banner-ver-1.png') !important

				&:nth-child(2) .similar__card
					background-image: url('../img/similar-banner-ver-2.png') !important

			&__card
				min-height: 466px
				padding: 49px 25px 5px 28px

				&::before
					height: calc(100% - 83px)

			&__descr
				padding-bottom: 40px


	+width-lg

		.card-article__info
			padding: 25px 30px


	+width-md

		&__wrapper
			flex-direction: column

		&__nav
			display: flex
			flex-wrap: wrap
			align-items: flex-start
			justify-content: space-between
		
			&-item
				padding: 5px 0
				border-top: none
		
			&-link
				font-size: 15px
				line-height: 19px

		.similar
			width: 100%


	+width-sm

		&__nav
			justify-content: flex-start
			margin: 0 -10px
		
			&-item
				padding: 5px 10px
		
			&-link
				font-size: 15px
				line-height: 19px


