/*
 * ========================
 * DOCTOR-CLIENTS-PAGE
 * ========================
 */
.doctor-clients-page 

	.clients+.clients
		margin-top: 30px

	.banner
		margin-top: 98px
		margin-bottom: 50px


	+width-sm

		.banner
			margin-top: 55px
			margin-bottom: 20px