/*
 * ========================
 * CLIENT-PAY-PAGE
 * ========================
 */
.client-pay-page 
	
	&__card
		max-width: 770px
		padding: 21px 28px
		border: 0.5px solid rgba(145, 169, 189, 0.2)
		border-radius: 5px
		font-size: 18px
		color: $color-text--dark

	
	&__btn-add
		display: flex
		align-items: center
		margin: 22px 0 0 28px
		border: none
		background: none
		color: $color-text--dark

		p
			font-size: 18px
			text-decoration: underline

			&:hover
				text-decoration: none

		span 
			display: inline-flex
			align-items: center
			justify-content: center
			width: 46px
			height: 46px
			border-radius: 50%
			margin-right: 13px
			font-size: 24px
			background-color: #EDF1F4
