/*
 * ========================
 * PROBLEMS-PAGE 
 * ========================
 */
.problems-page

	.promo__question--base
		left: -53px
		width: 100%
		max-width: 230px

	&__problems-title
			margin-bottom: 15px
			color: $color-text--dark
			font: 700 28px/44px $font-main 

	.selection
		padding-top: 79px