/*
 * ========================
 * PROBLEMS-PAGE 
 * ========================
 */
.problems-page

	.promo__question--base
		left: -53px
		width: 100%
		max-width: 230px

	&__problems
		padding-top: 65px

		&-title
			margin-bottom: 15px
			color: $color-text--dark
			font: 700 28px/44px $font-main 

		.tag
			padding: 8px 11px

	.selection
		padding-top: 79px


	+width-xs

		&__problems
			padding-top: 45px