/*
 * ========================
 * PROCESS 
 * ========================
 */
.process 
	
	.grid
		@media screen and (min-width: 1200px)
			max-width: 1000px
	
	&__tabs
		display: flex
		align-items: flex-start
		justify-content: space-between
		padding-top: 44px
	
		&-header
			padding-top: 40px
		
		&-item
			position: relative
			font: 700 18px/22px $font-main
			+trs()

			&::after
				content: ''
				position: absolute
				top: 13px
				z-index: -1
				right: -137px
				height: 1px
				width: 100px
				background-color: #D7DBE2
				opacity: 0
				transform: translateX(-20px)
				+trs()

			&:not(:last-child)
				margin-bottom: 53px

			&:hover
				cursor: pointer
				color: $color-secondary

			span 
				position: absolute
				top: -35px
				left: -30px
				font: 900 72px/1 $font-main
				color: $color-bg
				opacity: 0
				transform: translateY(20px)
				z-index: -1
				+trs()


			&.active
				color: $color-text--dark

				&::after
					opacity: 1
					transform: translateX(0)

				span 
					opacity: 1
					transform: translateY(0)

		&-wrapper
			width: 100%
			max-width: 668px
		
		&-content 
			// display: none
			height: 0
			width: 0
			opacity: 0
			visibility: hidden
			// transform: translateY(30px)
			// transition: opacity .5s ease, transform .5s ease
			
			&.active
				// display: block
				height: auto
				width: auto
				visibility: visible
				opacity: 1
				// transform: translateY(0)

				.process__card-title,
				.process__card-descr,
				.process__card-banner
					opacity: 1
					transform: translateY(0)

	&__card
		position: relative
		border-radius: 5px
		background: radial-gradient(104.56% 263.54% at 22.6% -4.56%, #76CFA5 0%, #389F66 51.27%)

		&::after
			content: ''
			position: absolute
			bottom: 0
			left: 17px
			width: calc(100% - 34px)
			height: calc(100% - 32px)
			box-shadow: 0px 10px 40px #86939D
			border-radius: 5px
			z-index: -1

		&-inner
			position: relative
			min-height: 362px
			padding: 44px 41px
			overflow: hidden

		&-info
			position: relative
			z-index: 1
			color: $white

		&-title
			margin-bottom: 20px
			font: 700 28px/34px $font-main
			opacity: 0
			+trs(all, .5s)
			transform: translateY(20px)
		
		&-descr
			max-width: 240px
			line-height: 22px
			letter-spacing: -.4px
			opacity: 0
			transform: translateY(20px)
			+trs(all, .5s)
			transition-delay: .1s

		&-banner
			position: absolute
			bottom: 0
			left: 0
			width: 100%
			line-height: 0
			opacity: 0
			transform: translateY(20px)
			+trs(all, .5s)
			transition-delay: .3s



	+width-md

		&__tabs

			&-wrapper
				max-width: 470px

			&-item
				&::after
					display: none

		&__card

			&-inner
				min-height: 310px
				padding: 30px

			&-title
				margin-bottom: 8px


	+width-sm

		&__tabs
			flex-direction: column

			&-wrapper
				max-width: 100%	

			&-header
				display: flex
				align-items: flex-start


	+width-xs

		&__tabs

			&-header
				flex-direction: column
				padding-top: 0
				margin-bottom: 25px

			&-item
				font-size: 16px

				&:not(:last-child)
					margin-bottom: 15px

				span 
					display: none

		&__card
			min-height: auto
