/*
 * ========================
 * REVIEWS-PAGE
 * ========================
 */
.reviews-page 

	&__content
		padding-top: 102px

	&__list
		margin-bottom: 87px

	&__item:not(:last-child)
		margin-bottom: 48px

	&__box
		display: flex
		justify-content: center
	
	.similar
		margin-top: 118px

		&__list
			padding-top: 33px
	
	+width-md
		&__content
			padding-top: 80px	

		.similar
			margin-top: 70px


	+width-sm
		&__content
			padding-top: 60px

		.similar
			margin-top: 55px
