/*
 * ========================
 * TYPOGRAPHY
 * ========================
 */
.h1
	font: 700 36px/44px $font-main
	color: $black

.h2
	font: 700 32px/44px $font-main
	color: $black

.h3


.h4


.h5
	font: 700 18px/26px $font-main

.h6

 
.link
	text-decoration: underline

	&:hover
		text-decoration: none


+width-md

	.h1
		font-size: 32px
		line-height: 40px

	.h2
		font-size: 30px

	.h4
		font-size: 20px
		line-height: 24px

		&--sm
			font-size: 18px
			line-height: 21px


+width-sm

	.h1	
		font-size: 26px
		line-height: 1.3em

	.h5
		font-size: 16px
		line-height: 20px


	+width-xs

		.h1	
			font-size: 21px

		.h2
			font-size: 24px

		.h4
			font-size: 18px
			line-height: 22px
