/*
 * ========================
 * PROCESS-PAGE
 * ========================
 */
.process-page 
	
	&__list
		display: flex
		flex-wrap: wrap
		align-items: flex-start
		padding-top: 15px

	&__item
		width: 33.3%
		margin-top: 78px

		.card-step
			max-width: 100%	

			&__title
				line-height: 20px

	.similar
		margin-top: 131px

		&__list
			padding-top: 33px


	+width-md

		&__item
			width: 50%

		.similar
			margin-top: 90px


	+width-sm

		&__item
			width: 100%
			padding-left: 30px

		.similar
			margin-top: 60px

