/*
 * ========================
 * HEADER
 * ========================
 */
.header
	position: fixed
	top: 0
	left: 0
	width: 100%
	z-index: 10
	padding: 20px 0
	+trs()

	&--fixed
		padding: 9px 0
		box-shadow: 0px 4px 40px #D2DBE2
		background-color: $white

	&+div,
	&+section 
		padding-top: 73px
	
	&__wrapper
		display: flex
		align-items: center
		justify-content: space-between

	&__logo
		line-height: 0
	
	&__menu
		display: inline-flex
		align-items: center

		&-item:not(:last-child)
			margin-right: 45px
	
		&-link
			display: inline-block
			position: relative
			font-weight: 500
			line-height: 19px
			+trs()

			&::after
				content: ''
				position: absolute
				left: 0
				bottom: -6px
				width: 100%
				height: 2px
				background-color: $color-primary-1
				transform: translateX(20px)
				opacity: 0
				+trs(all, .3s, ease)

			&:not(.active):hover::after
				transform: translateX(0)
				opacity: 1

			&.active
				color: $black

	&__user
		display: inline-flex

		&-reg,
		&-login
			display: inline-flex 
			align-items: center

		&-reg
			margin-right: 37px

		&-icon
			width: 19px
			height: 19px
			margin-right: 11px
			fill: $color-primary-1

		&-text
			font-weight: 500
			color: $black
			+trs()

			&:hover
				color: $color-primary-1

	&__switch
		position: relative
		display: none
		width: 30px
		height: 30px
		padding: 0
		cursor: pointer
		z-index: 11
		+trs()
		transform-origin: center

		span
			position: absolute
			top: 50%
			left: 0
			display: block
			width: 100%
			height: 2px
			background: $black
			transform: translateY(-50%)

			&::before, 
			&::after 
				content: ''
				position: absolute
				display: block
				left: 0
				height: 2px
				background-color: $black
				transition-duration: 0.3s, 0.3s

			&::before 
				width: 100%
				top: -8px
				transition-property: top, transform				

			&::after 
				width: 100%
				bottom: -8px
				transition-property: bottom, transform
			
		&.open

			span 
				background: none
	
				&::before, 
				&::after 
					transition-delay: 0s, 0.3s
					background-color: $white
		
				&::before 
					top: 0
					transform: rotate(45deg)
			
				&::after 
					bottom: 0
					width: 100%
					transform: rotate(-45deg)


	+width-lg

		&__menu
			margin-left: auto

			&-item:not(:last-child)
				margin-right: 15px

			&-link
				font-size: 15px

		&__user
			margin-left: auto
			margin-right: 45px

			&-reg
				margin-right: 15px
			
			&-icon
				margin-right: 5px

		
	+width-md

		&__switch
			display: block

		&__menu
			position: fixed
			top: 0
			left: 0
			flex-direction: column
			justify-content: center
			width: 100%
			height: 100%
			margin-left: 0
			background-color: rgba(0, 0, 0, .95)
			visibility: hidden
			opacity: 0
			+trs(opacity, .4s, ease)

			&-item

				&:not(:last-child)
					margin-right: 0
					margin-bottom: 15px

			&-link
				font-size: 16px

				&.active
					color: $white

			&.open
				visibility: visible
				opacity: 1


	+width-xs
		height: auto
		padding: 10px 0

		// &+div,
		// &+section 
		// 	padding-top: 100px

		&__user
			margin-right: 15px

			&-reg
				margin-right: 5px

			&-text
				display: none